<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="/static/lib/foundation/css/normalize.css">
    <link rel="stylesheet" href="/static/lib/foundation/css/foundation.css">

    <link rel="stylesheet" href="/static/lib/leaflet/leaflet.css">

    <link rel="stylesheet" href="/static/css/app.css">

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet'/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <style>

    </style>

</head>
<body>

<div class="container">
    <img class="logo" src="/static/images/globe.png"/>

    <h1 class="title">NaTweet</h1>
	<div id="controls">
		<form id="mainForm">
		<select id="langSelector"></select>
		 
		<label>Date:</label>
		<input type="text" id="datepicker">
		</form>
		<div id="slider-container">
		<p>
			<label for="amount">Hours:</label>
			<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
		</p>
		<div id="slider-range"></div>
		</div>
		<button id="go">Go</button>
 
	</div>
    <div style="clear: both;">&nbsp;</div>
    <div id="map"></div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/lib/leaflet/leaflet.js"></script>
<script src="/static/lib/heatcanvas/heatcanvas.js"></script>
<script src="/static/lib/heatcanvas/heatcanvas-worker.js"></script>
<script src="/static/lib/heatcanvas/heatcanvas-leaflet.js"></script>
<!--<script src="/static/lib/heatmap/heatmap.js"></script>-->
<!--<script src="/static/lib/heatmap/heatmap-leaflet.js"></script>-->
<!--<script src="/static/lib/heatmap/QuadTree.js"></script>-->
<script src="/static/js/app.js"></script>
</body>
</html>
